<% @title = "RunTrack - Your Runs" %>

<div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Your Runs</h2>
            <%= link_to "Add Run", new_user_run_path, class: "btn btn-primary" %>
            <table style="width: 50%;" align="center">
              <col width="45%">
              <col width="45%">
              <col width="10%">
              <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Time (in minutes)</th>
              </tr>
            <% @runs.each do |run| %>
              <tr>
                <td align="left"><%= run.run_date%></td>
                <td align="left"><%= run.location%></td>
                <td align="left"><%= run.time_in_minutes%></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center"><br/>
        <% @week_total = 0 %>
        <% @month_total = 0 %>
        <% @runs.each do |run| %>
          <% if run.run_date > (Date.today - 7) %>
            <% @week_total += run.time_in_minutes %>
            <% @month_total += run.time_in_minutes %>
          <%elsif run.run_date > (Date.today - 30) %>
            <% @month_total += run.time_in_minutes %>
          <% end %>
        <% end %>
        <p>Time Running This Week: <%= @week_total %> minutes</p>
        <p>Time Running This Month: <%= @month_total %> minutes</p>
      </div>
    </div>
</div>
